---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  return pages.map((page) => {
    return {
      params: { slug: page.slug },
      props: { page },
    };
  });
}

type Props = { page: CollectionEntry<"pages"> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await page.render();
---

<BaseLayout
  title={seo?.title ?? title}
  description={seo?.description}
  image={seo?.image}
>
  <article class="prose prose-zinc dark:prose-invert sm:prose-lg">
    <header>
      <h1>{title}</h1>
    </header>
    <Content />
  </article>
</BaseLayout>
