---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { createPersonSchema } from '@/utils/schema-utils';

export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map((page) => {
    return {
      params: { id: page.id },
      props: { page },
    };
  });
}

type Props = { page: CollectionEntry<'pages'> };

const { page } = Astro.props;
const { title, seo } = page.data;
const { Content } = await render(page);

const includePersonSchema = page.id === 'about';
const customSchemas = includePersonSchema ? [createPersonSchema()] : [];
---

<BaseLayout title={seo?.title ?? title} description={seo?.description} image={seo?.image} customSchemas={customSchemas}>
  <article>
    <header>
      <h1>{title}</h1>
    </header>
    <div>
      <Content />
    </div>
  </article>
</BaseLayout>
