---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nhut Duong">
  <section class="flex flex-1 items-center justify-center">
    <div class="prose w-full max-w-3xl px-4 py-12">
      <h1>Full Stack Developer and Consultant.</h1>
      <p>
        Hello, I'm Nhut Duong, a full stack developer and consultant with a
        passion for creating dynamic web solutions. At Bosch Digital in Vietnam,
        I lead projects that exceed client expectations.
      </p>
    </div>
  </section>
</Layout>
