---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nhut Duong">
  <main>
    <h1>Hello, I'm Nhut</h1>
    <p>
      I'm a full-stack web developer with over 10 years of experience in web
      development. Currently, I work at Bosch Digital in Vietnam.
    </p>
  </main>
</Layout>
