---
import { getCollection } from 'astro:content';

import siteConfig from '@/data/site-config';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Hero from '@/components/Hero.astro';
import PostListItem from '@/components/PostListItem.astro';
import { sortItemsByDateDesc } from '@/utils/data-utils.ts';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const latestPosts = posts.slice(0, 5);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
  <Hero />
  {
    latestPosts?.length > 0 && (
      <section>
        <h2>Recent Posts</h2>
        <ul class="not-prose flex flex-col gap-5">
          {latestPosts.map((post) => (
            <PostListItem post={post} hideTags={true} class="flex flex-col justify-between gap-1 md:flex-row" />
          ))}
        </ul>
      </section>
    )
  }
</BaseLayout>
