---
import type { HTMLAttributes } from "astro/types";

type AnchorProps = HTMLAttributes<"a"> & { type?: never };
type ButtonProps = HTMLAttributes<"button"> & { href?: never };

type Props = ButtonProps | AnchorProps;

const { href, class: className, ...rest } = Astro.props;
const buttonClasses =
  "inline-flex justify-center py-3 px-4 text-sm no-underline rounded-md bg-primary text-primary-foreground hover:bg-primary/90";
---

{
  href ? (
    <a href={href} class:list={[buttonClasses, className]} {...rest}>
      <slot />
    </a>
  ) : (
    <button class:list={[buttonClasses, className]} {...rest}>
      <slot />
    </button>
  )
}
