---
import siteConfig from "../data/site-config";
import SocialLink from "./SocialLink.astro";

const currentYear = new Date().getFullYear();
const socialLinks = siteConfig.socialLinks || [];
---

<footer class="w-full max-w-4xl mx-auto py-8 flex items-center justify-between">
  <div class="flex">
    <p class="text-xs text-zinc-600 dark:text-zinc-400">
      &#169; {currentYear}
      {siteConfig.title}
    </p>
  </div>
  {socialLinks.length > 0 && (
    <div class="flex flex-wrap gap-4">
      {(siteConfig.socialLinks || []).map((link) => (
        <SocialLink
          {...link}
          class="text-zinc-600 dark:text-zinc-400 hover:text-zinc-700 dark:hover:text-zinc-300"
        />
      ))}
    </div>
  )}
</footer>
