---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex items-center min-h-20">
  <div class="w-full max-w-4xl mx-auto flex items-center justify-between">
    <a class="uppercase" href="/"
      >Nhut <span class="text-zinc-600 dark:text-zinc-400">Duong</span></a
    >
    <ThemeToggle />
  </div>
</header>
