<header class="h-20 flex items-center">
  <div class="w-full max-w-4xl px-4 mx-auto flex items-center">
    <a href="/" class="block">
      <svg
        width="34"
        height="36"
        viewBox="0 0 203 213"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M66.6818 92.7273V212.182H0V2.72726H63.4091V41.1818H65.7273C70.3636 28.3636 78.2727 18.3182 89.4545 11.0455C100.636 3.68182 113.955 0 129.409 0C144.136 0 156.909 3.31818 167.727 9.95453C178.636 16.5 187.091 25.6818 193.091 37.5C199.182 49.2273 202.182 62.9545 202.091 78.6818V212.182H135.409V91.7727C135.5 80.1364 132.545 71.0455 126.545 64.5C120.636 57.9546 112.409 54.6818 101.864 54.6818C94.8636 54.6818 88.6818 56.2273 83.3182 59.3182C78.0455 62.3182 73.9545 66.6364 71.0455 72.2727C68.2273 77.9091 66.7727 84.7273 66.6818 92.7273Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
</header>
