<header class="h-20 flex items-center">
  <div class="w-full max-w-4xl px-4 mx-auto flex items-center">
    <a href="/" class="block uppercase text-zinc-700 dark:text-zinc-300"
      >Nhut <span class="text-zinc-500">Duong</span></a
    >
  </div>
</header>
