---
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="flex items-center min-h-20">
  <div class="w-full max-w-4xl mx-auto flex items-center justify-between">
    <a class="text-3xl font-bold hover:text-zinc-700 dark:hover:text-zinc-300" href="/">n</a>
    <ThemeToggle />
  </div>
</header>
