---
import Icon from "@/components/Icon.astro";

const { text, href, icon, class: className } = Astro.props;
---

<a
  class:list={["inline-flex h-5 w-5 items-center justify-center", className]}
  href={href}
  target="_blank"
  rel="noopener noreferer"
  aria-label={text}
>
  {icon && <Icon icon={icon} class="h-5 w-5 overflow-visible fill-current" />}
</a>
