---
import Icon from '@/components/Icon.astro';

const { text, href, icon, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={text}
  class:list={[
    'hover:bg-accent hover:text-accent-foreground focus-visible:ring-ring inline-flex h-9 w-9 items-center justify-center gap-2 rounded-md text-sm font-medium whitespace-nowrap transition-colors focus-visible:ring-1 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0',
    className,
  ]}
>
  {icon && <Icon icon={icon} class="h-4 w-4 fill-current" />}
  <span class="sr-only">{text}</span>
</a>
