---
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="en" class="break-words antialiased">
  <head>
    <BaseHead {...head} />
    <ViewTransitions />
  </head>
  <body
    class="bg-zinc-50 text-zinc-900 selection:bg-zinc-600 selection:text-zinc-100 dark:bg-zinc-950 dark:text-zinc-100 dark:selection:bg-zinc-600 dark:selection:text-zinc-100"
  >
    <div class="flex min-h-screen flex-col px-4">
      <Header />
      <main class="mx-auto w-full max-w-3xl grow py-20 sm:py-24 lg:py-32">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
