---
import '@fontsource-variable/inter';

import { SEO } from "astro-seo";

import { SITE } from "@config";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  author?: string;
  title?: string;
  description?: string;
}

const {
  author = SITE.author,
  title = SITE.title,
  description = SITE.desc,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title={title}
      description={description}
      extend={{
        link: [
          { rel: "icon", type: "image/svg+xml", href: "/favicon.svg" },
          { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
          { rel: "manifest", href: "/manifest.webmanifest" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width",
          },
          {
            name: "theme-color",
            content: "#ffffff",
          },
          {
            name: "generator",
            content: Astro.generator,
          },
          {
            name: "author",
            content: author,
          },
        ],
      }}
    />
  </head>
  <body class="min-h-screen flex flex-col bg-zinc-50 dark:bg-zinc-900">
    <Header />
    <main class="flex flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
